@page "/"
@using WebApp.Proxies
@inject ReferenceApi Api
@using ApiApp.Components

<PageTitle>Index</PageTitle>

<h1>Posts by Category</h1>

@if (CategoryPosts == null)
{
    <p>Loading category...</p>
}
else
{
    <PostItemComponent Posts="CategoryPosts" />
}

@code {
    @* public string? categoryId { get; set; } = 6730; *@

    public List<PostItem>? CategoryPosts;

    protected override async Task OnInitializedAsync()
    {
        try
        {

            var collection = await Api.Posts_getAsync().ConfigureAwait(false);
            CategoryPosts = collection?.Posts.ToList();
            @* categoryPosts = collection?.Posts.Where(x=>x.Id==categoryId).ToList(); *@
        }
        catch { }
    }
}
